{
  "presets": [
    ["env", {
      "modules": false
    }],
    ["stage-3"]
  ],
  "plugins": ["babel-plugin-transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-3"]}
  }
}
